@use '../abstract/variaveis';
@use '../abstract/mixins';

#brand-logos{
    padding: 4rem 0;
    ul{
        list-style: none;
        display: flex;
        gap: 64px;
        justify-content: center;
        align-items: center;
    }
}