@use '../abstract/variaveis';
@use '../abstract/mixins';

#brand-logos{
    padding: 4rem 0;
    ul{
        list-style: none;
        display: flex;
        gap: 64px;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 400px){
    #brand-logos{
        ul{
            display: flex;
            flex-wrap: wrap;
        }
    }
}