@use '../abstract/variaveis';
@use '../abstract/mixins';

.background{
    background-image: url(../../assets/branckground.svg);
    background-repeat: no-repeat;
    background-size: cover;
    nav{
        @include mixins.margem-central(90%);
        display: flex;
        justify-content: space-between;
        ul{
            #logo{
                padding: 1rem 1.5rem 0 0;
            }
            display: flex; 
            align-items: center;
            list-style: none;
            gap: 16px;
        }
            @include mixins.fw-fs-c(700, 1rem, variaveis.$cor-titulo);
            #badges{
                display: flex;
                gap: 12px;
            }
    }
}