@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

$fonte-principal: "Inter", sans-serif;
$cor-titulo: #111827;
$cor-texto: #374151;
$cor-subtitulo: #6B7280;
$cor-btn: #7C3AED;
$cor-footer: #D1D5DB;

$mobile-ad-background-color: #1DB5BE;
$costumer-background-color: #D5FAFC;