@use '../styles/abstract/variaveis';
@use '../styles/components/header';
@use '../styles/components/home';
@use '../styles/components/brand-logos';
@use '../styles/components/tailor-made';
@use '../styles/components/costumers';

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: variaveis.$fonte-principal;
}