@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
.background {
  background-image: url(../../assets/branckground.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.background nav {
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 1rem;
  color: #111827;
}
.background nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 16px;
}
.background nav ul #logo {
  padding: 1rem 1.5rem 0 0;
}
.background nav #badges {
  display: flex;
  gap: 12px;
}
.background nav #menu-hambuguer {
  display: none;
}

@media (max-width: 400px) {
  .background nav {
    margin: 0 auto;
    width: 100%;
  }
  .background nav ul li:nth-child(2),
  .background nav ul li:nth-child(3),
  .background nav ul li:nth-child(4),
  .background nav ul li:nth-child(5) {
    display: none;
  }
  .background nav #badges {
    display: none;
  }
  .background nav #menu-hambuguer {
    display: flex;
    padding: 1rem 1.5rem 0 0;
    align-items: center;
  }
}
#home {
  padding-top: 5rem;
  display: flex;
  margin: 0 auto;
  width: 85%;
}
#home .texto-home {
  padding-top: 4rem;
}
#home .texto-home h1 {
  font-weight: 700;
  font-size: 4.5rem;
  color: #111827;
}
#home .texto-home p {
  font-weight: 400;
  font-size: 1.125rem;
  color: #374151;
  width: 80%;
}
#home .texto-home .btn-home {
  display: flex;
}
#home .texto-home .btn-home #get-started, #home .texto-home .btn-home #watch-video {
  background-color: #7C3AED;
  border: 0;
  border-radius: 8px;
  color: #fff;
  padding: 1rem 1.5rem;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: #fff;
}
#home .texto-home .btn-home #watch-video {
  background-color: #fff;
  color: #7C3AED;
  display: flex;
  align-items: center;
  gap: 5px;
}

@media (max-width: 400px) {
  #home {
    padding-top: 0;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  #home .texto-home {
    padding-top: 4rem;
  }
  #home .texto-home h1 {
    font-weight: 700;
    font-size: 2.25rem;
    color: #111827;
    width: 100%;
    margin: 0;
  }
  #home .texto-home p {
    font-weight: 400;
    font-size: 1.125rem;
    color: #374151;
    width: 100%;
  }
}
#brand-logos {
  padding: 4rem 0;
}
#brand-logos ul {
  list-style: none;
  display: flex;
  gap: 64px;
  justify-content: center;
  align-items: center;
}

@media (max-width: 400px) {
  #brand-logos ul {
    display: flex;
    flex-wrap: wrap;
  }
}
#tailor-made {
  margin: 0 auto;
  width: 85%;
}
#tailor-made .tailor-made-texto {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#tailor-made .tailor-made-texto h1 {
  font-weight: 700;
  font-size: 3rem;
  color: #111827;
}
#tailor-made .tailor-made-texto p {
  font-weight: 400;
  font-size: 1.125rem;
  color: #374151;
  width: 55%;
}
#tailor-made .container-tailor-made {
  padding: 5rem 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}
#tailor-made .container-tailor-made .tailor-made-itens {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}

#costumers {
  background-color: #D5FAFC;
  background-image: url(../../assets/quote.svg);
  background-repeat: no-repeat;
  background-position: 6.5% 8%; /* 6.5% à direita e 8% abaixo */
  padding: 4.5rem 0;
}
#costumers .customers-texto {
  margin: 0 auto;
  width: 75%;
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
}
#costumers .customers-texto h1 {
  font-weight: 700;
  font-size: 3rem;
  color: #111827;
  width: 60%;
  margin: 0;
}
#costumers .customers-texto h4 {
  font-weight: 500;
  font-size: 1.125rem;
  color: #111827;
}
#costumers .cards {
  margin: 0 auto;
  width: 75%;
  padding-left: 10rem;
  display: flex;
  align-items: center;
  gap: 32px;
}
#costumers .cards .card-vertical {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
#costumers .cards .card-vertical #airbnb {
  width: 50%;
}
#costumers .cards .card-vertical #strapi {
  width: 40%;
}
#costumers .cards .card {
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.6);
  border-radius: 8px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 2.2rem;
}
#costumers .cards .card .card-texto img {
  width: 30px;
}
#costumers .cards .card img {
  width: 100px;
}
#costumers .cards .card h2 {
  font-weight: 500;
  font-size: 1.125rem;
  color: #111827;
  line-height: 28px;
  margin: 0;
  padding: 2rem 0;
}
#costumers .cards .card h3 {
  margin: 0;
  padding-left: 2rem;
}
#costumers .cards .card h5 {
  margin: 0;
  font-weight: 400;
  font-size: 0.875rem;
  color: #6B7280;
  padding-left: 2rem;
}
#costumers .cards .card .card-texto {
  display: flex;
  align-items: start;
  gap: 15px;
}
#costumers .cards .card .card-texto img {
  padding-top: 2rem;
}

#achiviments {
  padding: 5rem 0;
  margin: 0 auto;
  width: 85%;
}
#achiviments .top-achiviments {
  display: flex;
  padding-bottom: 6rem;
}
#achiviments .top-achiviments .achiviments-texto h1 {
  font-weight: 700;
  font-size: 3rem;
  color: #111827;
  width: 70%;
  margin: 0;
}
#achiviments .top-achiviments .achiviments-texto p {
  font-weight: 400;
  font-size: 1.125rem;
  color: #111827;
}
#achiviments .top-achiviments .stats-container {
  display: flex;
  flex-wrap: wrap;
}
#achiviments .top-achiviments .stats-container .stats {
  display: flex;
  align-items: center;
  width: 50%;
  gap: 20px;
}
#achiviments .top-achiviments .stats-container .stats .stats-texto h1 {
  font-weight: 700;
  font-size: 2.25rem;
  color: #111827;
  margin: 0;
}
#achiviments .top-achiviments .stats-container .stats .stats-texto p {
  font-weight: 400;
  font-size: 1rem;
  color: #111827;
  margin: 0;
}
#achiviments .bottom-achiviments {
  display: flex;
}
#achiviments .bottom-achiviments .achiviments-texto {
  padding-top: 5rem;
}
#achiviments .bottom-achiviments .achiviments-texto h1 {
  font-weight: 700;
  font-size: 3rem;
  color: #111827;
  width: 70%;
  margin: 0;
}
#achiviments .bottom-achiviments .achiviments-texto p {
  font-weight: 400;
  font-size: 1.125rem;
  color: #111827;
  width: 75%;
}
#achiviments .bottom-achiviments .brand-icons {
  padding: 3.4rem 3rem; /* meu deus que dificuldade posicionar isso*/
  margin: 0 2rem;
  background-image: url(../../assets/vector.svg);
  background-position: 55% 75%;
  background-repeat: no-repeat;
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 64px;
}
#achiviments .bottom-achiviments .brand-icons .row1, #achiviments .bottom-achiviments .brand-icons .row2 {
  display: flex;
  gap: 64px;
}
#achiviments .bottom-achiviments .brand-icons .row2 {
  justify-content: center;
}

#mobile-ad {
  background-color: #1DB5BE;
}
#mobile-ad .mobile-ad-content {
  display: flex;
  margin: 0 auto;
  width: 85%;
  gap: 12rem;
}
#mobile-ad .mobile-ad-content .mobile-ad-texto {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 40%;
}
#mobile-ad .mobile-ad-content .mobile-ad-texto h1 {
  font-weight: 700;
  font-size: 3rem;
  color: #111827;
  margin: 0;
}
#mobile-ad .mobile-ad-content .mobile-ad-texto p {
  width: 85%;
  line-height: 28px;
  padding-bottom: 1.5rem;
}
#mobile-ad .mobile-ad-content .mobile-ad-texto h4 {
  margin: 0;
  padding-bottom: 0.5rem;
  font-weight: 500;
  font-size: 1.125rem;
  color: #111827;
}
#mobile-ad .mobile-ad-content .mobile-ad-texto .app-badges {
  display: flex;
  gap: 12px;
}
#mobile-ad .mobile-ad-content #mobile-ad-image img {
  margin: 0 auto;
  width: 80%;
  width: 100%;
}

footer {
  background-color: #000;
  padding: 5rem 0;
}
footer .footer-container {
  display: flex;
  margin: 0 auto;
  width: 85%;
  justify-content: space-between;
}
footer .footer-container .footer-content {
  display: flex;
  display: flex;
  flex-direction: column;
}
footer .footer-container .footer-content img {
  width: 30px;
}
footer .footer-container .footer-content .footer-texto {
  color: #fff;
  display: flex;
  gap: 24px;
}
footer .footer-container .footer-content .footer-texto p {
  font-weight: 400;
  font-size: 1rem;
  color: #fff;
  margin: 0;
  padding: 1rem 0;
}
footer .footer-container .footer-content .direitos h4 {
  font-weight: 300;
  font-size: 0.875rem;
  color: #D1D5DB;
  margin: 0;
}
footer .footer-container .footer-get-the-app {
  display: flex;
  gap: 16px;
  flex-direction: column;
}
footer .footer-container .footer-get-the-app img {
  width: 150px;
}
footer .footer-container .footer-get-the-app h2 {
  margin: 0;
  font-weight: 400;
  font-size: 1.125rem;
  color: #D1D5DB;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}/*# sourceMappingURL=styles.css.map */